<!DOCTYPE html>
<html>
<head>
    <title>NoteVault</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <div class="logo">NoteVault</div>

    <div>
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </div>
</nav>

<section class="hero">

    <h1>Secure Your Notes Online</h1>

    <p>
        Professional Flask Firebase Notes App
    </p>

    <div class="hero-buttons">

        <a href="/register" class="btn">
            Get Started
        </a>

        <a href="/login" class="btn dark-btn">
            Login
        </a>

    </div>

</section>

</body>
</html>