<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Login | NoteVault</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>

<body>

    <!-- LOGIN CONTAINER -->

    <div class="auth-container">

        <div class="auth-card">

            <h1>Welcome Back</h1>

            <p class="subtitle">
                Login to continue to NoteVault
            </p>

            <!-- FLASH MESSAGES -->

            {% with messages = get_flashed_messages() %}

                {% if messages %}

                    {% for message in messages %}

                        <div class="flash-message">

                            {{ message }}

                        </div>

                    {% endfor %}

                {% endif %}

            {% endwith %}

            <!-- LOGIN FORM -->

            <form method="POST">

                <!-- USERNAME -->

                <input
                    type="text"
                    name="username"
                    placeholder="Enter Username"
                    minlength="4"
                    required
                >

                <!-- PASSWORD -->

                <div class="password-box">

                    <input
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Enter Password"
                        minlength="6"
                        required
                    >

                    <span
                        class="toggle-password"
                        onclick="togglePassword()"
                    >
                        👁
                    </span>

                </div>

                <!-- BUTTON -->

                <button type="submit">

                    Login

                </button>

            </form>

            <!-- FOOTER -->

            <div class="auth-footer">

                Don't have an account?

                <a href="/register">

                    Register

                </a>

            </div>

        </div>

    </div>

    <!-- PASSWORD TOGGLE SCRIPT -->

    <script>

        function togglePassword(){

            const password =
                document.getElementById("password");

            if(password.type === "password"){

                password.type = "text";

            }

            else{

                password.type = "password";

            }

        }

    </script>

</body>

</html>