<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Register | NoteVault</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>

<body>

    <!-- REGISTER CONTAINER -->

    <div class="auth-container">

        <div class="auth-card">

            <h1>Create Account</h1>

            <p class="subtitle">
                Register to save your secure notes
            </p>

            <!-- FLASH MESSAGES -->

            {% with messages = get_flashed_messages() %}

                {% if messages %}

                    {% for message in messages %}

                        <div class="flash-message">

                            {{ message }}

                        </div>

                    {% endfor %}

                {% endif %}

            {% endwith %}

            <!-- REGISTER FORM -->

            <form method="POST">

                <input
                    type="text"
                    name="username"
                    placeholder="Enter Username"
                    minlength="4"
                    required
                >

                <input
                    type="password"
                    name="password"
                    placeholder="Enter Password"
                    minlength="6"
                    required
                >

                <button type="submit">

                    Register

                </button>

            </form>

            <!-- FOOTER -->

            <div class="auth-footer">

                Already have an account?

                <a href="/login">
                    Login
                </a>

            </div>

        </div>

    </div>

</body>

</html>